

<!-- We only want the thunbnails to display when javascript is disabled -->
<script type="text/javascript">
	document.write('<style>.noscript { display: none; }</style>');
</script>
<div class="right">
	<div class="images_galery">
		
		<!-- Start Advanced Gallery Html Containers -->
		<div id="gallery" class="content">
			<div class="img_shadow"></div>
			<div id="controls" class="controls"></div>
			<div class="slideshow-container">
				<div id="loading" class="loader"></div>
				<div id="slideshow" class="slideshow"></div>
			</div>

		</div>
		<div id="thumbs" class="navigation">
			<ul class="thumbs noscript">
				<li>
					
					<a class="thumb" name="leaf"  href="<%= url_for @property.photo.url%>" title="Title #0">
						<div class="small_img">
						<%= image_tag @property.photo.url(:small) %>
						</div>
					</a>
					<div class="caption">
						<div class="download">
							<a href= "<%= url_for @property.photo.url%>"> </a>
							
						</div>
					</div>
				</li>
                <%-if @property.photo1? %>
				<li>
					<a class="thumb" name="drop" href="<%= url_for @property.photo1.url%>" title="Title #1">
						<div class="small_img">
						<%= image_tag @property.photo1.url(:small)%>
                        </div>						
					</a>
					<div class="download">
						<a href= "<%= url_for @property.photo1.url%>"> </a>
					</div>
					
				</li>
				<%-end%>
                <%-if @property.photo2? %>
				<li>
					<a class="thumb" href="<%= url_for @property.photo2.url%>" title="Title #2">
						<div class="small_img">
						<%= image_tag @property.photo2.url(:small)%>
                        </div>
					</a>
					<div class="caption">
						<div class="download">
							<a href= "<%= url_for @property.photo2.url%>"> </a>
						</div>
					</div>
				</li>
				<%-end%> 
                <%-if @property.photo3? %>
				<li class="li_last">
					<a class="thumb" href="<%= url_for @property.photo3.url%>" title="Title #3">
						<div class="small_img">
						<%= image_tag @property.photo3.url(:small)%>
                        </div>
					</a>
					<div class="caption">
						<div class="download">
							<a href= "<%= url_for @property.photo3.url%>"> </a>
						</div>
					</div>
				</li>
				<%-end%> 
                <%-if @property.photo4? %>
				<li>
					<a class="thumb" href="<%= url_for @property.photo4.url%>" title="Title #4">
						<div class="small_img">
						<%= image_tag @property.photo4.url(:small)%>
                        </div>
					</a>
					<div class="caption">
						<div class="download">
							<a href= "<%= url_for @property.photo4.url%>"> </a>
						</div>
					</div>
				</li>
				<%-end%> 
				<%-if @property.photo5? %>
				<li>
					<a class="thumb" href="<%= url_for @property.photo5.url%>" title="Title #5">
						<div class="small_img">
						<%= image_tag @property.photo5.url(:small)%>
                        </div>
					</a>
					<div class="caption">
						<div class="download">
							<a href= "<%= url_for @property.photo5.url%>"> </a>
						</div>
					</div>
				</li>
				    <%-end%>
                    <%-if @property.photo6? %>
					<li>
						<a class="thumb" href="<%= url_for @property.photo6.url%>" title="Title #6">
							<div class="small_img">
							<%= image_tag @property.photo6.url(:small)%>
                            </div>
						</a>
						<div class="caption">
							<div class="download">
								<a href= "<%= url_for @property.photo6.url%>"> </a>
							</div>
						</div>
					</li>
					<%-end%>
					<%-if @property.photo7? %>

				<li class="li_last">
					<a class="thumb" href="<%= url_for @property.photo7.url%>" title="Title #7">
						<div class="small_img">
						<%= image_tag @property.photo7.url(:small) %>
						</div>
					</a>
					<div class="caption">
						<div class="download">
							<a href= "<%= url_for @property.photo7.url%>"> </a>
						</div>
						<!-- <div class="image-title">Title #7</div>
						<div class="image-desc">Description</div>-->
					</div>
				</li>
				<%-end%>
			</ul>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>




<div class="left show_info">



<h1>
  <%= @property.name %>
</h1>
<div class="direct_info">
<p>
  <b class="title">Место положения:</b>
  <%= @property.location %>
</p>
<p>
  <b class="title">Количество спален:</b>
  <%= @property.roomcount %>
</p>
<p> <b class="title">Тип:</b>
  <%= @property.realtytype %>
</p>
</div>

<div class="price_box">
  <%= @property.price %> Euro
</div>
<div class="hr"></div>
<p>
  <%= simple_format(@property.fulldescription) %>
</p>
<p>
   INFORMATION
</p>
</div>
<div style="clear: both;"></div>


<%#= link_to 'Edit', edit_property_path(@property) %> |
<%#= link_to 'Back', properties_path %>





<script type="text/javascript">
	jQuery(document).ready(function($) {
		// We only want these styles applied when javascript is enabled
		$('div.navigation').css({'width' : '443px', 'display' : 'block'});
		$('div.content').css('display', 'block');

		// Initially set opacity on thumbs and add
		// additional styling for hover effect on thumbs
		var onMouseOutOpacity = 0.67;
		$('#thumbs ul.thumbs li').opacityrollover({
			mouseOutOpacity:   onMouseOutOpacity,
			mouseOverOpacity:  1.0,
			fadeSpeed:         'fast',
			exemptionSelector: '.selected'
		});
		
		// Initialize Advanced Galleriffic Gallery
		var gallery = $('#thumbs').galleriffic({
			delay:                     2500,
			numThumbs:                 15,
			preloadAhead:              10,
			enableTopPager:            true,
			enableBottomPager:         true,
			maxPagesToShow:            7,
			imageContainerSel:         '#slideshow',
			controlsContainerSel:      '#controls',
			captionContainerSel:       '#caption',
			loadingContainerSel:       '#loading',
			renderSSControls:          true,
			renderNavControls:         true,
			playLinkText:              'Play Slideshow',
			pauseLinkText:             'Pause Slideshow',
			prevLinkText:              '',
			nextLinkText:              '',
			nextPageLinkText:          'Next &rsaquo;',
			prevPageLinkText:          '&lsaquo; Prev',
			enableHistory:             false,
			autoStart:                 false,
			syncTransitions:           true,
			defaultTransitionDuration: 900,
			onSlideChange:             function(prevIndex, nextIndex) {
				// 'this' refers to the gallery, which is an extension of $('#thumbs')
				this.find('ul.thumbs').children()
					.eq(prevIndex).fadeTo('fast', onMouseOutOpacity).end()
					.eq(nextIndex).fadeTo('fast', 1.0);
			},
			onPageTransitionOut:       function(callback) {
				this.fadeTo('fast', 0.0, callback);
			},
			onPageTransitionIn:        function() {
				this.fadeTo('fast', 1.0);
			}
		});
	});
</script>